<style>
  @import url('/styles/nav.css');
</style>

<nav class="navigation">
  <div class="nav-container">
    <!-- Group for brand and navigation links on the left -->
    <div class="nav-left-group">
      <div class="brand">
        <a href="/" id="lattice">La#ice</a>
      </div>

      <div class="nav-links-left">
        <a href="/" class="nav-button">Home</a>
        <a href="/topics" class="nav-button">Topics</a>
        <% if (user && user.name !== 'Public') { %>
          <a href="/users/user/new" class="nav-button">Create</a>

        <% } else { %>
          <a href="javascript:void(0);" class="nav-button nav-button-prompt" onclick="promptLogin()">Create</a>
        <% } %>
      </div>
    </div>

    <!-- Container for the Search form -->
    <div class="nav-links">
      <form method="GET" action="/search" class="nav-search-form">
        <input type="text" name="search" placeholder="Search" class="nav-search-input"/>
      </form>

      <!-- nav-user-form placed here for smaller screens -->
      <div class="nav-user-form-container">
        <% if (!user || user.name === 'Public') { %>
          <form method="POST" action="/users/user-search" class="nav-user-form">
            <input type="text" name="username" placeholder="Log in with Username" class="nav-user-input"/>
          </form>
        <% } %>
      </div>
    </div>

    <!-- Group for user info on the right -->
    <div class="nav-user-right" style="cursor: pointer;">
      <% if (user && user.name !== 'Public') { %>
        <div class="nav-user" onclick="location.href='/users/profile/<%= user.username %>'">
          <span class="nav-username"><%= user.name %></span>
          <img src="/images/<%= user.profileImage %>" alt="User Profile" class="nav-user-img">

<!-- Logout Form -->
    <form action="/users/logout" method="POST" style="display: inline;">
        <button type="submit" class="nav-button">Logout</button>
    </form>

          
        </div>

      <% } else { %>
        <div class="nav-user">
          <span class="nav-username">Public</span>
          <img src="/images/PublicUserPicture.png" alt="Default User Profile" class="nav-user-img">
        </div>
      <% } %>
    </div>
  </div>
</nav>

<script>
  function promptLogin() {
    // Change the placeholder color and possibly the background color
    const userInput = document.querySelector('.nav-user-input');
    userInput.placeholder = 'PLEASE LOG IN';
    userInput.style.color = 'red'; // Change text color
    userInput.style.backgroundColor = '#f2cb0a'; // Change background color
    // Add any other logic you need, like showing a modal or alert
  }
</script>
