<% if(posts && posts.length > 0) { %>
  <div class="post-list">
      <h3 class="posts-heading">Posts</h3>
      <ul class="post-list-ul">
          <% posts.forEach(post => { %>
              <li><%= post.title %></li> <!-- Displaying post title -->
          <% }) %>
      </ul>
  </div>
<% } else { %>
  <div class="post-list">
      <p>No posts available.</p>
  </div>
<% } %>
