<% if(users && users.length > 0) { %>
  <div class="user-list">
      <h3 class="users-heading">Users</h3>
      <ul class="user-list-ul">
          <% users.forEach(user => { %>
              <li><%= user.username %></li> <!-- Displaying only username -->
          <% }) %>
      </ul>
  </div>
<% } else { %>
  <div class="user-list">
      <p>No users available.</p>
  </div>
<% } %>
