.main-content {
  display: flex;
  flex-direction: column; /* Stack title/link and description vertically */
}


.topic {
font-size: 24px;
margin-bottom: 40px; /* Updated margin-bottom */
}

.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr); /* Updated minmax value */
grid-gap: 20px;
padding: 20px;
}

.topic-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Updated minmax value */
  grid-gap: 20px;
  padding: 20px;
  }
  

.topic-header {
    font-size: 1.5em;
    color: #d69421;
    margin: 0px;
    width: 100%; /* Full width */
    padding: 1px 0; /* Add padding for spacing */
}

.topic-item {
    display: flex;
    flex-direction: column;
    background-color: #d5d49c; 
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}


.grid-item {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Divide the grid item into two columns */
  
  gap: 10px; /* Space between columns */
  background-color: #FCFBE3; 
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.profilePost-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background-color: #FCFBE3;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}


.grid-item h2 {

  color: #d69421; /* Example color for the topic header */
  font-size: 1.5em; /* Adjust the font size as needed */
  margin-bottom: 0.5em; /* Space between the topic header and posts */
  padding-bottom: 0.25em; /* Padding to give space below the text */

}

.title-link h3 {
  margin: 0;
  /* Title takes up the full width since username is removed */
}



.post-description {
  /* Add styles here */
  font-size: 16px; /* Example font size */
  color: #333; /* Example font color */
  margin: 10px 0; /* Example margins */
  /* Add any other styles you want for the description */
}

.post-content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  grid-column: 1; /* Occupies the first column */
}



.post-header {
  grid-column: 2; /* Place the header in the second column */
  text-align: right; /* Align the text to the right */
  /* Add any additional styling for the header here */
}

.post-header .username {
  color: #94a8a5; /* Change to your preferred color */
  font-weight: normal; /* Makes the font bold */
  font-size: 1.1em; /* Adjust the font size as needed */
  margin-top: 0; /* Adjust top margin to align it higher */
  /* Add any other styles you wish to apply to the username */
}

.post-footer {
  padding: 1px;
  border-radius: 4px;
  margin: 5px;
  background-color: #778260;
  color: #f9f8d4;
  margin-top: auto; /* Pushes footer to the bottom of the container */
  align-self: flex-end; /* Aligns footer to the right */
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  
}


.post-footer:hover {
  background-color: #b1cc11; /* Light grey color */
}

.grid-item-post {
background-color: #f2eedd;
border: 1px solid #ddd; /* Border for each post */
margin-top: 5px;
margin-bottom: 10px; /* Spacing between posts */
padding: 10px;
border-radius: 5px; /* Slightly rounded corners for posts */
/* Add more styling for posts if needed */

}

@media (max-width: 1024px) {
.grid-container {
grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
}
}

@media (max-width: 768px) {
.grid-container {
grid-template-columns: 1fr; /* 1 column on very small screens */
}
}